/* Styles to be applied through the entire app */

ion-row,
ion-col,
ion-grid,
ion-card,
ion-tab-button,
ion-toolbar,
ion-list,
ion-list.list-md,
ion-item,
ion-tab-bar {
    padding: 0;
    margin: 0;
    --background: var(--ion-background-color);
}

ion-tab-bar {
    padding-bottom: env(safe-area-inset-bottom);
}

ion-button {
    margin: 0;
}

.input-fill-outline.sc-ion-input-md-h {
    --padding-start: 20px;
}

a {
    text-decoration: none;
}