/* Profile template related styling */
.profile {
    overflow: scroll;
    
    &__data {
        padding: 16px;
    }

    &__image-container {
        display: flex;
        align-items: center;
    }
}