/* Profile template related styling */
.profile {
    height: 100%;

    &__data {
        padding: 16px 0;
    }

    &__history {
        margin-bottom: 16px;
    }

    &__logout {
        position: static !important;

        ion-icon {
            margin-left: 2px;
        }
    }
}