.reservation {
    &__items {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 16px;
        padding: 16px !important;
        background: var(--ion-background-color);
    }

    &__item {
        width: 100%;
        border-radius: var(--border-radius);
        --border-radius: 16px;
        --background: var(--ion-background-color-step-50);
        
        &-card {
            display: flex !important;
            --background: var(--ion-background-color-step-50);
        }
        
        &-info {
            --background: var(--ion-background-color-step-50);
        }
    }
}