.reservation {
    &__items {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 16px;
        padding: 16px !important;
        background: var(--ion-background-color);

        &--no-padding {
            padding: 0 !important;
        }
    }

    &__item {
        width: 100%;
        border-radius: var(--border-radius);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.22);
        overflow: hidden;
        background: var(--background);
        --border-radius: 16px;
        --background: var(--ion-background-color-step-50);

        &-bg {
            background: var(--background);
            --background: var(--ion-background-color-step-50);
        }
        
        &-card {
            display: flex !important;
            align-items: center;
            margin: 0;
            padding: 16px;
            border-radius: var(--border-radius);
            --border-radius: 16px;
        }
        
        &-info {
            box-shadow: none;
            background: var(--background);
            --background: var(--ion-background-color-step-50);
        }

        ion-card {
            box-shadow: none;
        }
    }
}