/* Color variables */

:root {
    --ion-color-primary: #A23B3B;
    --ion-color-primary-rgb: 162, 59, 59;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #8f3434;
    --ion-color-primary-tint: #b25050;
}

@media (prefers-color-scheme: light) {
    :root {
        --ion-background-color: #f9f9f9;
    }
}